<!doctype html>
<html ng-app="editor">
  <head>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>

    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.0.min.js"></script>
    <script src="browser_files/main.js"></script>

    <script src="bower_components/ace-builds/src-min-noconflict/mode-javascript.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/mode-html.js"></script>

    <script>
      var AceModes = {
        JavaScript: ace.require('ace/mode/javascript').Mode,
        HTML: ace.require('ace/mode/html').Mode
      };
    </script>

    <style>
      .ace_editor{
        height: 550px;
      }
    </style>

  </head>
  <body ng-controller="main">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <button type="button" class="btn btn-default navbar-btn" ng-click="newFile()">New</button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="openFile()">Open</button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="saveFile()">Save</button>
      </div>
    </nav>

    <h1 ng-if="tabs.length == 0">Click New or Open</h1>

    <uib-tabset ng-if="tabs.length > 0">
      <uib-tab ng-repeat="tab in tabs" heading="{{tab.filename}}" active="tab.active" disable="tab.disabled">
        <div ui-ace ng-model="tab.data"></div>
      </uib-tab>
    </uib-tabset>

  </body>
</html>
